* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.navbar-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.navbar-link:hover {
    color: gold;
}
