.containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.card {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box; 
    min-width: 0;
}
